<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISequenceServer" />
        <binding name="BasicHttpBinding_ISequenceServer123" />
        <binding name="BasicHttpBinding_ISequenceServer1" />
        <binding name="BasicHttpBinding_ISequenceServer2" />
        <binding name="BasicHttpBinding_IVocabularyService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ISequenceServer">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ISequenceServer1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:34455/fibonacci" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ISequenceServer" contract="ServiceReference1.ISequenceServer"
        name="BasicHttpBinding_ISequenceServer" />
      <endpoint address="net.tcp://localhost:34456/fibonacci" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ISequenceServer" contract="ServiceReference1.ISequenceServer"
        name="NetTcpBinding_ISequenceServer">
        <identity>
          <userPrincipalName value="LAPTOP-F6E1N0CB\Lenovo" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:34455/simple" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ISequenceServer1" contract="ServiceReference2.ISequenceServer"
        name="BasicHttpBinding_ISequenceServer1" />
      <endpoint address="net.tcp://localhost:34456/simple" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ISequenceServer1" contract="ServiceReference2.ISequenceServer"
        name="NetTcpBinding_ISequenceServer1">
        <identity>
          <userPrincipalName value="LAPTOP-F6E1N0CB\Lenovo" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:33556/simmmpple" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ISequenceServer2" contract="ServiceReference3.ISequenceServer"
        name="BasicHttpBinding_ISequenceServer2" />
      <endpoint address="http://localhost:34458/vocab" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IVocabularyService" contract="ServiceReference4.IVocabularyService"
        name="BasicHttpBinding_IVocabularyService" />
    </client>
  </system.serviceModel>
</configuration>