<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding allowCookies="true"/>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="WcfContracts.Contracts.FibonacciServer">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:34455/fibonacci"/>
            <add baseAddress="net.tcp://localhost:34456/fibonacci"/>
          </baseAddresses>
        </host>
      </service>
      <service name="SequenceServiceLib.Contracts.SimpleServer">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:34455/simple"/>
            <add baseAddress="net.tcp://localhost:34456/simple"/>
          </baseAddresses>
        </host>
      </service>
      <service name="VocabularyServiceLib.Contracts.SimpleVocabularyService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:34458/vocab"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>